// Importing variables
@import './variables.scss';

$section-padding: 1rem 0.5rem !default;
$section-padding-medium: 3rem 1.5rem !default;
$section-padding-large: 5rem 1.5rem !default;

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';